<!DOCTYPE html>
<html>
  <head>
    <title>Add Car</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"
      crossorigin="anonymous"
    />
    <script>
      function searchCarSpecs() {
        var carName = document.getElementById("carName").value;
        var searchQuery =
          "https://www.google.com/search?q=" +
          encodeURIComponent(carName + " car specs");
        window.open(searchQuery, "_blank");
      }
    </script>
    <style>
      body {
        max-width: 90%;
      }
    </style>
  </head>
  <body>
    <h1>Add Car</h1>
    <button type="button" id="add">
      <a href="{{ url_for('add_car') }}">Add Car</a>
    </button>

    <span style="padding: 10px"></span>
    <button type="button" id="view">
      <a href="{{ url_for('view_cars') }}">View Cars</a>
    </button>

    <span style="padding: 10px"></span>
    <button type="button" id="compare">
      <a href="{{ url_for('compare_cars') }}">Compare Cars</a>
    </button>
    <hr />
    <form>
      <label for="carName">Car Name:</label><br />
      <input type="text" id="carName" name="carName" /><br />
      <input type="button" value="Research" onclick="searchCarSpecs()" />
    </form>
    <hr />
    <form method="POST" action="{{ url_for('add_car') }}">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required /><br /><br />
      <label for="purchase_price">Purchase Price:</label>
      <input
        type="number"
        id="purchase_price"
        name="purchase_price"
        step="0.01"
        required
      /><br /><br />
      <label for="maintenance_cost_per_mile">Maintenance Cost per Mile:</label>
      <input
        type="number"
        id="maintenance_cost_per_mile"
        name="maintenance_cost_per_mile"
        step="0.01"
        required
      /><br /><br />
      <label for="miles_driven_daily">Miles Driven Daily:</label>
      <input
        type="number"
        id="miles_driven_daily"
        name="miles_driven_daily"
        step="0.01"
        required
      /><br /><br />
      <label for="fuel_cost_per_gallon">Fuel Cost per Gallon:</label>
      <input
        type="number"
        id="fuel_cost_per_gallon"
        name="fuel_cost_per_gallon"
        step="0.01"
        required
      /><br /><br />
      <label for="gas_efficiency">Gas Efficiency (Miles per Gallon):</label>
      <input
        type="number"
        id="gas_efficiency"
        name="gas_efficiency"
        step="0.01"
        required
      /><br /><br />
      <label for="electricity_cost_per_kwh"
        >Electricity Cost per Kilowatt-hour:</label
      >
      <input
        type="number"
        id="electricity_cost_per_kwh"
        name="electricity_cost_per_kwh"
        step="0.01"
        required
      /><br /><br />
      <label for="electric_efficiency"
        >Electric Efficiency (Kilowatt-hours per Mile):</label
      >
      <input
        type="number"
        id="electric_efficiency"
        name="electric_efficiency"
        step="0.01"
        required
      /><br /><br />
      <input type="submit" value="Add Car" />
    </form>
  </body>
</html>
