<!DOCTYPE html>
<html>
  <head>
    <title>Car Cost Calculator</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Welcome to Car Cost Calculator</h1>
    <hr />
    <p><b>Number of Cars: {{ car_count }}</b></p>
    <hr />
    <button type="button" id="add">
      <a href="{{ url_for('add_car') }}">Add Car</a>
    </button>

    <span style="padding: 10px"></span>
    <button type="button" id="view">
      <a href="{{ url_for('view_cars') }}">View Cars</a>
    </button>

    <span style="padding: 10px"></span>
    <button type="button" id="compare">
      <a href="{{ url_for('compare_cars') }}">Compare Cars</a>
    </button>
    <button type="button" id="vjson">
      <a href="{{ url_for('view_json') }}">Electric Car Specs</a>
    </button>
  
    <span style="padding: 10px"></span>
    <button type="button" id="solar_calculator">
      <a href="{{ url_for('solar_calculator') }}">Solar Calculator</a>
    </button>

  </body>
</html>
