<!DOCTYPE html>

<html>
  <head>
    <title>Car Cost Calculator</title>
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Welcome to Car Cost Calculator</h1>
    <select onchange="window.location.href=this.value;">
      <option value="{{ url_for('add_car') }}">Add Car</option>
      <option value="{{ url_for('buy_vs_lease') }}">Buy vs Lease</option>
      <option value="{{ url_for('compare_cars') }}">Compare Cars</option>
      <option value="{{ url_for('home') }}">Home</option>
      <option value="{{ url_for('solar_calculator') }}">
        Solar Calculator
      </option>
      <option value="{{ url_for('view_cars') }}">View Cars</option>
      <option value="{{ url_for('view_json') }}">Electric Car Specs</option>
    </select>
    <hr />
    <p><b>Number of Cars: {{ car_count }}</b></p>
    <hr />
  </body>
</html>
