<!DOCTYPE html>

<html>
  <head>
    <title>Modify Car</title>
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Modify Car</h1>
    <select onchange="window.location.href=this.value;">
      <option value="{{ url_for('add_car') }}">Add Car</option>
      <option value="{{ url_for('buy_vs_lease') }}">Buy vs Lease</option>
      <option value="{{ url_for('compare_cars') }}">Compare Cars</option>
      <option value="{{ url_for('home') }}">Home</option>
      <option value="{{ url_for('solar_calculator') }}">
        Solar Calculator
      </option>
      <option value="{{ url_for('view_cars') }}">View Cars</option>
      <option value="{{ url_for('view_json') }}">Electric Car Specs</option>
    </select>
    <hr />
    <form method="POST">
      <label for="name">Name:</label><br />
      <input
        id="name"
        name="name"
        required=""
        type="text"
        value="{{ car.name }}"
      /><br />
      <label for="purchase_price">Purchase Price:</label><br />
      <input
        id="purchase_price"
        name="purchase_price"
        required=""
        type="number"
        value="{{ car.purchase_price }}"
      /><br />
      <label for="maintenance_cost_per_mile">Maintenance Cost per Mile:</label
      ><br />
      <input
        id="maintenance_cost_per_mile"
        name="maintenance_cost_per_mile"
        required=""
        type="number"
        value="{{ car.maintenance_cost_per_mile }}"
      /><br />
      <label for="miles_driven_daily">Miles Driven Daily:</label><br />
      <input
        id="miles_driven_daily"
        name="miles_driven_daily"
        required=""
        type="number"
        value="{{ car.miles_driven_daily }}"
      /><br />
      <label for="fuel_cost_per_gallon">Fuel Cost per Gallon:</label><br />
      <input
        id="fuel_cost_per_gallon"
        name="fuel_cost_per_gallon"
        required=""
        type="number"
        value="{{ car.fuel_cost_per_gallon }}"
      /><br />
      <label for="gas_efficiency">Gas Efficiency:</label><br />
      <input
        id="gas_efficiency"
        name="gas_efficiency"
        required=""
        type="number"
        value="{{ car.gas_efficiency }}"
      /><br />
      <label for="electricity_cost_per_kwh">Electricity Cost per kWh:</label
      ><br />
      <input
        id="electricity_cost_per_kwh"
        name="electricity_cost_per_kwh"
        required=""
        type="number"
        value="{{ car.electricity_cost_per_kwh }}"
      /><br />
      <label for="electric_efficiency">Electric Efficiency:</label><br />
      <input
        id="electric_efficiency"
        name="electric_efficiency"
        required=""
        type="number"
        value="{{ car.electric_efficiency }}"
      /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
