<!DOCTYPE html>

<html>
  <head>
    <title>Car Cost Calculator</title>
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Solar Energy System Calculator</h1>
    <select onchange="window.location.href=this.value;">
      <option value="{{ url_for('add_car') }}">Add Car</option>
      <option value="{{ url_for('buy_vs_lease') }}">Buy vs Lease</option>
      <option value="{{ url_for('compare_cars') }}">Compare Cars</option>
      <option value="{{ url_for('home') }}">Home</option>
      <option value="{{ url_for('solar_calculator') }}">
        Solar Calculator
      </option>
      <option value="{{ url_for('view_cars') }}">View Cars</option>
      <option value="{{ url_for('view_json') }}">Electric Car Specs</option>
    </select>
    <hr />
    <hr />

    <form action="/solar_calculator" method="post">
      <label for="battery_size">Battery size (kWh):</label>
      <input
        id="battery_size"
        max="81"
        min="50"
        name="battery_size"
        step="0.1"
        type="number"
        value="65.5"
      /><br /><br />
      <label for="miles_per_kwh">Miles per kWh:</label>
      <input
        id="miles_per_kwh"
        max="6.5"
        min="2.5"
        name="miles_per_kwh"
        step="0.1"
        type="number"
        value="4.5"
      /><br /><br />
      <label for="solar_production"
        >Solar panel production (kWh per hour):</label
      >
      <input
        id="solar_production"
        max="0.35"
        min="0.17"
        name="solar_production"
        step="0.01"
        type="number"
        value="0.26"
      /><br /><br />
      <label for="desired_range">Desired range per hour (miles):</label>
      <input
        id="desired_range"
        min="1"
        name="desired_range"
        step="1"
        type="number"
        value="20"
      /><br /><br />
      <input type="submit" value="Calculate" />
    </form>

    {% if result %}
    <h2>Results:</h2>
    <p>{{ result }}</p>
    {% endif %}
  </body>
</html>
