<!DOCTYPE html>
<html>
  <head>
    <title>View Cars</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"
      crossorigin="anonymous"
    />
    <style>
      body {
        max-width: 90%;
      }
    </style>
  </head>
  <body>
    <h1>View Car Spec Data</h1>
    <button type="button" id="add">
      <a href="{{ url_for('add_car') }}">Add Car</a>
    </button>

    <span style="padding: 10px"></span>
    <button type="button" id="view">
      <a href="{{ url_for('view_cars') }}">View Cars</a>
    </button>

    <span style="padding: 10px"></span>
    <button type="button" id="compare">
      <a href="{{ url_for('compare_cars') }}">Compare Cars</a>
    </button>
    <hr />
    <form method="POST">
      <label for="selected_object">Select JSON Object:</label>
      <select name="selected_object" id="selected_object">
        {% for index, car in enumerate(data) %}
        <option value="{{ index }}">
          {{ car["make"] }} {{ car["model"] }}
        </option>
        {% endfor %}
      </select>
      <input type="submit" value="View" />
    </form>
    <table>
      <thead>
        <tr>
          {% if data %} {% for key in data[0].keys() %}
          <th>{{ key }}</th>
          {% endfor %} {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for object in selected_data %}
        <tr>
          {% for value in object.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="{{ url_for('clear_json') }}" method="POST">
      <input type="submit" value="Clear Table" />
    </form>
  </body>
</html>
