<!DOCTYPE html>
<html>
  <head>
    <title>View Cars</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>View Cars</h1>
    <button type="button" id="add">
      <a href="{{ url_for('add_car') }}">Add Car</a>
    </button>

    <span style="padding: 10px"></span>
    <button type="button" id="view">
      <a href="{{ url_for('view_cars') }}">View Cars</a>
    </button>

    <span style="padding: 10px"></span>
    <button type="button" id="compare">
      <a href="{{ url_for('compare_cars') }}">Compare Cars</a>
    </button>
    <hr />
    <table>
      <tr>
        <th>Name</th>
        <th>Purchase Price</th>
        <th>Maintenance (per mile)</th>
        <th>Miles Driven Daily</th>
        <th>Fuel (per Gal.)</th>
        <th>Miles per Gallon</th>
        <th>Electricity (per kwh)</th>
        <th>Kilowatt-hours per Mile</th>
      </tr>
      {% for car in cars %}
      <tr>
        <td>{{ car.name }}</td>
        <td>{{ car.purchase_price }}</td>
        <td>{{ car.maintenance_cost_per_mile }}</td>
        <td>{{ car.miles_driven_daily }}</td>
        <td>{{ car.fuel_cost_per_gallon }}</td>
        <td>{{ car.gas_efficiency }}</td>
        <td>{{ car.electricity_cost_per_kwh }}</td>
        <td>{{ car.electric_efficiency }}</td>
        <td><a href="{{ url_for('modify_car', car_id=car.id) }}">Modify</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
