<!DOCTYPE html>

<html>
  <head>
    <title>View Cars</title>
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>View Cars</h1>
    <select onchange="window.location.href=this.value;">
      <option value="{{ url_for('add_car') }}">Add Car</option>
      <option value="{{ url_for('buy_vs_lease') }}">Buy vs Lease</option>
      <option value="{{ url_for('compare_cars') }}">Compare Cars</option>
      <option value="{{ url_for('home') }}">Home</option>
      <option value="{{ url_for('solar_calculator') }}">
        Solar Calculator
      </option>
      <option value="{{ url_for('view_cars') }}">View Cars</option>
      <option value="{{ url_for('view_json') }}">Electric Car Specs</option>
    </select>

    <hr />
    <table>
      <tr>
        <th>Name</th>
        <th>Purchase Price</th>
        <th>Maintenance (per mile)</th>
        <th>Miles Driven Daily</th>
        <th>Fuel (per Gal.)</th>
        <th>Miles per Gallon</th>
        <th>Electricity (per kwh)</th>
        <th>Kilowatt-hours per Mile</th>
      </tr>
      {% for car in cars %}
      <tr>
        <td>{{ car.name }}</td>
        <td>{{ car.purchase_price }}</td>
        <td>{{ car.maintenance_cost_per_mile }}</td>
        <td>{{ car.miles_driven_daily }}</td>
        <td>{{ car.fuel_cost_per_gallon }}</td>
        <td>{{ car.gas_efficiency }}</td>
        <td>{{ car.electricity_cost_per_kwh }}</td>
        <td>{{ car.electric_efficiency }}</td>
        <td><a href="{{ url_for('modify_car', car_id=car.id) }}">Modify</a></td>
        <td><a href="{{ url_for('delete_car', car_id=car.id) }}">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
