<!DOCTYPE html>

<html>
  <head>
    <title>View Cars</title>
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        max-width: 90%;
      }
    </style>
  </head>
  <body>
    <h1>View Car Spec Data</h1>
    <select onchange="window.location.href=this.value;">
      <option value="{{ url_for('add_car') }}">Add Car</option>
      <option value="{{ url_for('buy_vs_lease') }}">Buy vs Lease</option>
      <option value="{{ url_for('compare_cars') }}">Compare Cars</option>
      <option value="{{ url_for('home') }}">Home</option>
      <option value="{{ url_for('solar_calculator') }}">
        Solar Calculator
      </option>
      <option value="{{ url_for('view_cars') }}">View Cars</option>
      <option value="{{ url_for('view_json') }}">Electric Car Specs</option>
    </select>

    <hr />
    <form method="POST">
      <label for="selected_object">Select JSON Object:</label>
      <select id="selected_object" name="selected_object">
        {% for index, car in enumerate(data) %}
        <option value="{{ index }}">
          {{ car["make"] }} {{ car["model"] }}
        </option>
        {% endfor %}
      </select>
      <input type="submit" value="View" />
    </form>
    <table>
      <thead>
        <tr>
          {% for header in headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for car in selected_data %}
        <tr>
          {% for header in headers %}
          <td>{{ car[header] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="{{ url_for('clear_json') }}" method="POST">
      <input type="submit" value="Clear Table" />
    </form>
  </body>
</html>
